body{
	background-color: black; 
	color: green;
	font-family: 'VT323' ;
	font-size: 20px; 
}

.messages{
	width: 1000; 
	height: 500;
	border-style: solid, 2px; 
	border-color: lime; 
	color: lime;
	font-family: 'Consolas'; 
	font-size: 12px; 
}


h1 {
	color:lime;
}

a {
	font-family: 'VT323'; 
	font-size: 20px;
	text-decoration: none; 
}

input {
	background-color:black;
	border: 0px;
	border-color: black; 
	color: lime;
	font-family: 'Consolas'; 
	font-size: 20px; 
}